---
name: CI
on:
  pull_request:
    branches: [main]
permissions:
  contents: read
jobs:
  status-check:
    runs-on: ubuntu-24.04
    if: always() && (contains(needs.*.result, 'failure') || contains(needs.*.result, 'cancelled'))
    timeout-minutes: 10
    permissions: {}
    needs:
      - test
    steps:
      - run: exit 1
  test:
    uses: suzuki-shunsuke/go-test-full-workflow/.github/workflows/test.yaml@bb77a49e569726f192ee8b704883c1da618c4516 # v4.0.1
    with:
      aqua_version: v2.56.2
      go-version-file: go.mod
    permissions:
      pull-requests: write
      contents: read # To checkout private repository
